<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OOP lab4</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/edit_player_styles.css">
    </head>
    <body>
        <h1>Редактирование игрока</h1>

        <div id="errorContainer" class="error-message" style="display: none;"></div><br>
        
        <form id="playerForm">

            <input type="hidden" id="playerId" value="{{.Player.ID}}">
            <input type="hidden" id="playerType" value="{{.Player.Type}}">
            
            <div class="form-group">
                <label>Имя:</label>
                <input type="text" name="name" id="name" value="{{.Player.Name}}" required/>
                <span class="field-error" id="nameError"></span>
            </div>
            
            <div class="form-group">
                <label>Рост (см):</label>
                <input type="number" name="height" id="height" value="{{.Player.Height}}" required/>
                <span class="field-error" id="heightError"></span>
            </div>
            
            <div class="form-group">
                <label>Игровой номер:</label>
                <input type="number" name="jersey_number" id="jersey_number" value="{{.Player.JerseyNumber}}" required/>
                <span class="field-error" id="jersey_numberError"></span>
            </div>

            <div class="form-group">
                <label>Игр сыграно:</label>
                <input type="number" name="games_played" id="games_played" value="{{.Player.GamesPlayed}}" required/>
                <span class="field-error" id="games_playedError"></span>
            </div>

            <div class="form-group">
                <label>Амплуа:</label>
                <select id="type" name="type" onchange="toggleFields()" required>
                    <option value=-1>Выберите...</option>
                    <option value=1 {{if eq $.Player.Type 1}}selected{{end}}>Центровой</option>
                    <option value=0 {{if eq $.Player.Type 0}}selected{{end}}>Разыгрывающий</option>
                </select>
                <span class="field-error" id="typeError"></span>
            </div>
            
            <!-- Center -->

            <div id="centerFields" class="specific-fields" style="display: {{if eq .Player.Type 1}}block{{else}}none{{end}};">
                <div class="form-group">
                    <label>Блоки:</label>
                    <input type="number" id="blocks" value="{{if .Player.Center}}{{.Player.Center.Blocks}}{{else}}0{{end}}"/>
                </div>
                <div class="form-group">
                    <label>Подборы:</label>
                    <input type="number" id="rebounds" value="{{if .Player.Center}}{{.Player.Center.Rebounds}}{{else}}0{{end}}"/>
                </div>
            </div>

            <div id="pgFields" class="specific-fields" style="display: {{if eq .Player.Type 0}}block{{else}}none{{end}};">
                <div class="form-group">
                    <label>Ассисты:</label>
                    <input type="number" id="assists" value="{{if .Player.PointGuard}}{{.Player.PointGuard.Assists}}{{else}}0{{end}}"/>
                </div>
                <div class="form-group">
                    <label>Трёхочковые:</label>
                    <input type="number" id="three_point_makes" value="{{if .Player.PointGuard}}{{.Player.PointGuard.ThreePointMakes}}{{else}}0{{end}}"/>
                </div>
            </div>

            <div class="form-group">
                <label>Команда:</label>
                <select id="team_id" name="team_id">
                    <option value="">Выберите...</option>
                    {{range .Teams}} 
                        <option value="{{.ID}}" {{if eq $.Player.TeamID .ID}}selected{{end}}>
                            {{.Name}} ({{.City}})
                        </option>
                    {{end}}
                </select> <span class="field-error" id="team_idError"></span>
            </div>
            
            <div class="form-group">
                <button type="submit">Сохранить игрока</button>
                <a href="/home">Отмена</a>
            </div>
        </form>
        <script src="/static/js/edit_player_scripts.js" async defer></script>
    </body>
</html>