<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OOP lab4</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/edit_team_styles.css">
    </head>
    <body>
        <h1>Редактирование команды</h1>

        <div id="errorContainer" class="error-message" style="display: none;"></div><br>
        
        <form id="teamForm">

            <input type="hidden" id="teamId" value="{{.ID}}">
            
            <div class="form-group">
                <label>Название:</label>
                <input type="text" name="name" id="name" value="{{.Name}}" required/>
                <span class="field-error" id="nameError"></span>
            </div>
            
            <div class="form-group">
                <label>Город:</label>
                <input type="text" name="city" id="city" value="{{.City}}" required/>
                <span class="field-error" id="heightError"></span>
            </div>
            
            </div>
            
            <div class="form-group">
                <button type="submit">Сохранить команду</button>
                <a href="/home">Отмена</a>
            </div>
        </form>
        <script src="/static/js/edit_team_scripts.js" async defer></script>
    </body>
</html>