<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Создание игрока</title>
        <link rel="stylesheet" th:href="@{/css/create_player_styles.css}"/>
        <script th:src="@{/js/create_player_scripts.js}" defer></script>
    </head>
    <body>
        <h1>Создание нового игрока</h1>

        <div id="errorContainer" class="error-message" style="display: none;"></div><br>
        
        <form id="playerForm">
            
            <div class="form-group">
                <label>Имя:</label>
                <input type="text" name="name" id="name" required/>
                <span class="field-error" id="nameError"></span>
            </div>
            
            <div class="form-group">
                <label>Рост (см):</label>
                <input type="number" name="height" id="height" required/>
                <span class="field-error" id="heightError"></span>
            </div>
            
            <div class="form-group">
                <label>Игровой номер:</label>
                <input type="number" name="jerseyNumber" id="jerseyNumber" required/>
                <span class="field-error" id="jerseyNumberError"></span>
            </div>
            
            <div class="form-group">
                <label>Амплуа:</label>
                <select id="type" name="type" required>
                    <option value="">Выберите...</option>
                    <option value="center">Центровой</option>
                    <option value="point_guard">Разыгрывающий</option>
                </select>
                <span class="field-error" id="typeError"></span>
            </div>

            <!-- Center -->

            <div class="form-group-center" style="display: none;">
                <label>Блоки:</label>
                <input type="number" name="blocks" id="blocks"/>
                <span class="field-error" id="blocksError"></span>
            </div>

            <div class="form-group-center" style="display: none;">
                <label>Подборы:</label>
                <input type="number" name="rebounds" id="rebounds"/>
                <span class="field-error" id="reboundsError"></span>
            </div>

            <div class="form-group-center" style="display: none;">
                <label>Блоки за игру:</label>
                <input type="number" name="blocksPerGame" id="blocksPerGame"/>
                <span class="field-error" id="blocksPerGameError"></span>
            </div>

            <div class="form-group-center" style="display: none;">
                <label>Подборы за игру:</label>
                <input type="number" name="reboundsPerGame" id="reboundsPerGame"/>
                <span class="field-error" id="reboundsPerGameError"></span>
            </div>

            <!-- PointGuard -->

            <div class="form-group-pg" style="display: none;">
                <label>Ассисты за игру:</label>
                <input type="number" name="assistsPerGame" id="assistsPerGame"/>
                <span class="field-error" id="assistsPerGameError"></span>
            </div>

            <div class="form-group-pg" style="display: none;">
                <label>Процент трехочковых:</label>
                <input type="number" name="threePointPercentage" id="threePointPercentage"/>
                <span class="field-error" id="threePointPercentageError"></span>
            </div>



            <div class="form-group">
                <label>Команда:</label>
                <select id="teamId" name="teamId" required>
                    <option value="">Выберите...</option>
                    <option th:each="team : ${teams}" 
                            th:value="${team.id}" 
                            th:text="${team.name} + ' (' + ${team.city} + ')'">
                    </option>
                </select>
                <span class="field-error" id="teamIdError"></span>
            </div>
            
            <div class="form-group">
                <button type="submit">Создать игрока</button>
                <a th:href="@{/home}">Отмена</a>
            </div>
        </form>
    </body>
</html>