<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Home - Players List</title>
        <link rel="stylesheet" th:href="@{/css/home_page_styles.css}"/>
        <script th:src="@{/js/home_page_scripts.js}" defer></script>
    </head>
    <body>
        <h1>Teams List</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="team: ${teams}" th:data-id="${team.id}" class="team_row">
                    <td th:text="${team.id}"></td>
                    <td th:text="${team.name}"></td>
                    <td th:text="${team.city}"></td>
                    <td>
                        <div class="team-action-btns">
                            <button th:onclick="'redirectToUpdateTeamForm(' + ${team.id} + ')'">Edit</button>
                            <button th:onclick="'deleteSelectedTeam(' + ${team.id} + ')'">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <button onclick="redirectToCreateTeamForm()">Создать новую команду</button>

        <!-- Players -->

        <h1>Players List</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Height (cm)</th>
                    <th>Jersey number #</th>
                    <th>Type</th>
                    <th>Team ID</th>
                    <th>Position Specific Stats</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="player: ${players}" th:data-id="${player.id}" class="player_row">
                    <td th:text="${player.id}"></td>
                    <td th:text="${player.name}"></td>
                    <td th:text="${player.height}"></td>
                    <td th:text="${player.jerseyNumber}"></td>
                    <td th:text="${player.type}"></td>
                    <td th:text="${player.teamId}"></td>
                    <td>
                        <div th:if="${player.center != null}">
                            <strong>Center Stats:</strong><br/>
                            Blocks: <span th:text="${player.center.blocks}"></span><br/>
                            Rebounds: <span th:text="${player.center.rebounds}"></span><br/>
                            Blocks/Game: <span th:text="${player.center.blocksPerGame}"></span><br/>
                            Rebounds/Game: <span th:text="${player.center.reboundsPerGame}"></span>
                        </div>
                        
                        <div th:if="${player.pointGuard != null}">
                            <strong>Point Guard Stats:</strong><br/>
                            Assists/Game: <span th:text="${player.pointGuard.assistsPerGame}"></span><br/>
                            3PT %: <span th:text="${player.pointGuard.threePointPercentage}"></span>
                        </div>
                    </td>
                    <td>
                        <div class="player-action-btns">
                            <button th:onclick="'redirectToPlayerMethods(' + ${player.id} + ')'">Methods</button>
                            <button th:onclick="'redirectToUpdatePlayerForm(' + ${player.id} + ')'">Edit</button>
                            <button th:onclick="'deleteSelectedPlayer(' + ${player.id} + ')'">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <button onclick="redirectToCreatePlayerForm()">Создать нового игрока</button>
    </body>
</html>